<h1 class="row col-12 justify-content-center">Responsive Table Test</h1>
<div class="row col12 justify-content-center mb-3 mt-3">
  <button class="btn btn-primary" (click)="changeTableData()">Change Table Data</button>
</div>
<div class="row col12 justify-content-center">
  <div class="col-6">
    <table responsiveTable [doNotTransformLastColumn]="true" class="table table-bordered">
      <thead>
      <tr>
        <th *responsiveTableTh>
          <button (click)="alert('hello')" class="btn btn-success">Test1</button>
        </th>
        <th *responsiveTableTh>
          <button (click)="alert('hello2')" class="btn btn-success">Test2</button>
        </th>
        <th *responsiveTableTh>Test 3</th>
        <th *responsiveTableTh>Test 4</th>
        <th *responsiveTableTh>Test 5</th>
        <th *responsiveTableTh>Test 6</th>
        <th *responsiveTableTh>Test 7</th>
        <th *responsiveTableTh>Test 8</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of dummyData" responsiveTableRow>
        <td *responsiveTableTd>{{data.prop1}}</td>
        <td *responsiveTableTd>{{data.prop2}}</td>
        <td *responsiveTableTd>{{data.prop3}}</td>
        <td *responsiveTableTd>{{data.prop4}}</td>
        <td *responsiveTableTd>{{data.prop5}}</td>
        <td *responsiveTableTd>{{data.prop6}}</td>
        <td *responsiveTableTd>{{data.prop7}}</td>
        <td *responsiveTableTd>{{data.prop8}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
